

body
{
    color:rgb(0, 0, 0);
    
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

table
{
border-collapse: collapse;

}

table, td {
  border: 2px solid black; 
  padding: 10px;
  text-align: center;
}

tr:nth-child(odd) 
{
    background-color: #dddbe7; 
}

tr:nth-child(even) 
{
    background-color: #f5f5f5; 
}

tr:hover {background-color: rgb(189, 247, 218);}

td
{
width: 50%;
}

th{
    padding: 10px;
    border: 2px solid rgb(74, 59, 156);
    text-decoration: underline;
}
  
button
{


margin-bottom: 20px;
margin-left: 2px;
color:white;
background-color: rgb(98, 80, 133);
border-collapse: collapse;
}
button:hover {
color:black;
background-color: rgb(209, 189, 247);

}